
</div>

<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">


        </div>
        <div class="mdl-mega-footer--drop-down-section">


        </div>
        <div class="mdl-mega-footer--drop-down-section">

        </div>
        <div class="mdl-mega-footer--drop-down-section">

    </div>
    <div class="mdl-mega-footer--bottom-section">
        <p>Well Lima - Dev Full Stack <%= new Date().getFullYear() %></p>
    </div>
</footer>
</main>
</div>
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
</body>
</html>
